<div class="search">
    <div class="search__icon">
        <ion-icon name="search-outline" size="100"></ion-icon>
    </div>
    <input type="text" class="search__input" placeholder="Search...">
</div>
<div class="old__chats">
    <a href="#" class="old__chat active">
        Old chat 0
    </a>
    <a href="#" class="old__chat">
        Old chat 1
    </a>
    <a href="#" class="old__chat">
        Old chat 2
    </a>
    <a href="#" class="old__chat">
        Old chat 3
    </a>
    <a href="#" class="old__chat">
        Old chat 4
    </a>
    <a href="#" class="old__chat">
        Old chat 4
    </a>
    <!-- <a href="#" class="old__chat">
        Old chat 1
    </a>
    <a href="#" class="old__chat">
        Old chat 2
    </a>
    <a href="#" class="old__chat">
        Old chat 3
    </a>
    <a href="#" class="old__chat">
        Old chat 4
    </a>
    <a href="#" class="old__chat">
        Old chat 4
    </a> -->
</div>


